@media (max-width: 1200px) {
    
    .landing-img .img-container {
        width: 280px;
        height: 415px;

    }


    .shape1 {
        width: 85px;
        height: 85px;
        right: -42.5px;
    }

    .shape2 {
        width: 75px;
        height: 75px;
        left: -32.5px
    }
    
}

@media (max-width: 1024px) {

    .landing .main-container .land-container {
        display: grid
    ;
        grid-template-columns: 1fr 1fr;

    }
    .landing-img .img-container {
        width: 270px;
        height:380px;

    }

    


    .shape1 {
        width: 90px;
        height: 90px;
        right: -45px;
    }

    .shape2 {
        width: 75px;
        height: 75px;
        left: -35px
    }
    

    .landing-content h1{
        font-size: 45px;
    }

    

}

@media (max-width: 768px) {

    .landing {
        margin-top: 60px;
    }

    .landing-content h1{
        font-size: 40px;
        text-align: center;
    }

    .landing-content p {
        font-size: 18px;
        text-align: center;
    }

    
  
    .landing .main-container .land-container{
        display: grid;
        grid-template-columns:  1fr;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
    
    }
    
    .landing-content{
        grid-column: 1 / span 1  ;
        grid-row: 2 / span 1;
        
    }
    
    .contact {
        margin: 70px 0 50px 0;
    }

    .contact-container{
        display: flex;
        gap: 40px;
        flex-direction: column;
    }

    .group-form{
        flex-direction: column;
        width: 100%;
    }
    .group-form input {
        width: 100%;
        padding: 0;
        padding-right: 10px;
        
    }
    .contact-form input, textarea{
        font-size: 14px ;
    }
}

@media (max-width: 550px) { 

    .landing-img .img-container {
        width: 300px;
        height: 435px;

    }


    .shape1 {
        width: 100px;
        height: 100px;
        right: -50px;
    }

    .shape2 {
        width: 90px;
        height: 90px;
        left: -45px
    }
    .contact-link {
        width: fit-content;
        height: 48px;
        font-size: 16px;
        font-weight: bold;
    }
}


@media (max-width: 425px) {

    .landing-img .img-container {
        width: 280px;
        height: 415px;

    }


    .shape1 {
        width: 85px;
        height: 85px;
        right: -42.5px;
    }

    .shape2 {
        width: 75px;
        height: 75px;
        left: -32.5px
    }
    .contact-link {
        width: fit-content;
        height: 48px;
        font-size: 14px;
        font-weight: bold;


    }
    
}

@media (max-width: 375px) {


    .landing-img .img-container {
        width: 240px;
        height: 370px;

    }


    .shape1 {
        width: 85px;
        height: 85px;
        right: -42.5px;
    }

    .shape2 {
        width: 70px;
        height: 70px;
        left: -35px
    }
    .contact-link {
        width: fit-content;
        height: 48px;
        font-size: 13px;
        font-weight: bold;
    }

}